@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

@font-face {
    font-family: hanja;
    src: url(LXGWWenKai-Regular.ttf);
}

body {
    background: linear-gradient(to bottom right, #70a9e6, #aa70e6);
    min-height: 100vh;
}

*, *::before, *::after {
    font-size: 150%;
    font-family: 'Gothic A1', sans-serif;
    user-select: none;
}

button {
    font-size: 120%;
    font-weight: bold;
}

.c {
    transform: scale(2);
    margin-right: 1.5%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 100%;
}

.container0 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.container1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 75%;
}

#char {
    font-family: hanja;
    user-select: text;
}

#errText {
    color: red;
    font-size: 75%;
}